.camera-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F4F4F9;
}

.camera-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  align-items: center;
  position: relative;
}

.camera-display {
  flex: 3;
  background-color: #DADADA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 60%;
  height: 70vh;
}

.camera-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.camera-controls button {
  /* width: 80px; */
  height: 60px;
  background-color: #E0BBE4;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  transition: transform 0.1s ease;;
  margin-left: -10px;
}

.camera-controls button:hover {
  background-color: #9B5DE5;
  transform: scale(1.1); /* Scale up slightly on hover */
}

.dropdown {
  height: 40px;
  background-color: #E0BBE4; /* White background */
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  text-align-last: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  transition: transform 0.1s ease;;
}

.dropdown:hover {
  transform: scale(1.1); /* Scale up slightly on hover */
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;  /* Match the parent border-radius */
}

.message {
  border: none;
  font-size: 24px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  text-align: center;
  text-align-last: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message.error {
  color: #e55d5d;
  background-color: #E0BBE4;
}

.message.success {
  background-color: #E0BBE4;
  color: #FFFFFF;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-out;
}

.flash.active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.loading-spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
} 

.loading-spinner {
  border: 20px solid #f3f3f3; /* Light grey */
  border-top: 20px solid #9B5DE5; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-top: 10px;
  z-index: 2;
}

.camera-icon {
  width: 30px;
  height: 30px; /* Set the height to 24px */
  vertical-align: middle; /* Aligns the icon with the text */
  padding-bottom: 2px;
  color: #FFFFFF;
  /* object-fit: contain; Ensures the image scales correctly without distortion */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
