@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Pattaya&display=swap');

.login-page {
    text-align: center;
    margin-top: 100px;
    font-family: 'Pattaya', sans-serif; /* Apply the Arimo font */
    color: #333; /* Example text color */
  }
  
  .login-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .login-page p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .login-page button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #9B5DE5; /* Example button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-page button:hover {
    background-color: #7D45C3; /* Darker shade for hover state */
  }
  
  .user-profile {
    margin-bottom: 20px;
  }