@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Pattaya&display=swap');

.login-button {
    background-color: #E0BBE4;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    transition: background-color 0.3s ease;
    margin-left: 920px;
    margin-right: 10px; /* Adds space between the logout button and the profile icon */
  }
  
  .login-button:hover {
    background-color: #E0BBE4;
  }