.outfit-container {
    display: flex;
    height: 100vh;
    background-color: #F4F4F9;
    padding: 20px;
  }
  
  .outfit-carousel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .outfit-carousel img {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
  
  .outfit-carousel button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .outfit-controls {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  
  .outfit-controls button {
    background-color: #E0BBE4;
    border: none;
    padding: 15px; /* Controls the internal padding */
    border-radius: 50%; /* Ensures the button is a circle */
    width: 100px; /* Equal width and height to make the button a circle */
    height: 100px; /* Equal width and height to make the button a circle */
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the content (icon or text) inside the button */
  }
  
  .outfit-controls button:hover {
    background-color: #9B5DE5;
  }

  .outfit-icon {
    width: 50px; /* Set the width of the icon */
    height: 50px; /* Set the height of the icon */
  }
  
  /* Specific sizes for each type of clothing */
.hat-image {
  width: 100px; /* Width for hat image */
  height: 100px;
}

.top-image {
  width: 150px; /* Width for top image */
  height: 150px;
}

.bottoms-image {
  width: 120px; /* Width for bottoms image */
  height: 150px;
}

.shoes-image {
  width: 120px; /* Width for shoes image */
  height: 80px;
}