.outfit-container {
  display: flex;
  height: 100vh;
  background-color: #f9f9f9;
}

.outfit-pane {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.controls-pane {
  flex-direction: column;
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f3f3f3;
}

.outfit-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

/* Set sizes for each clothing type */
.hat-size {
  width: 150px;
  height: 150px;
}

.top-size {
  width: 150px;
  height: 150px;
}

.bottom-size {
  width: 150px;
  height: 150px;
}

.shoe-size {
  width: 150px;
  height: 150px;
}

.arrow-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  /* Fixed width */
  height: 40px;
  /* Fixed height */
  transition: transform 0.2s ease;
  /* Smooth scaling transition */
}

.arrow-btn:hover {
  transform: translateY(-50%) scale(1.2);
  /* Scale up slightly on hover */
}

.clothing-image {
  max-width: 100%;
  max-height: 100%;
}

.outfit-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.outfit-controls button {
  background-color: #E0BBE4;
  border: none;
  padding: 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
}

.outfit-controls button:hover {
  background-color: #9B5DE5;
  transform: scale(1.1);
  /* Scale up slightly on hover */
}

.outfit-icon {
  width: 50px;
  height: 50px;
}

.left-arrow {
  margin-right: 200px;
}

.right-arrow {
  margin-left: 200px;
}

.fit-check {
  background-color: #f3f3f3;
  border: none;
  padding: 15px;
  justify-content: center;
  border-radius: 10px;
  font-size: 24px;
  color: #666666;
}

.fit-check-text {
  justify-content: center;
  justify-self: center;
  background-color: #f3f3f3;
  font-family: 'Arimo', sans-serif; /* Example font change */
  font-size: 30px; /* Example font size */
  font-weight: bold; /* Example font weight */
}

.fit-check-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}