@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Pattaya&display=swap');

.sidebar {
  background-color: #E0BBE4;
  position: fixed;
  top: 50px;
  left: -300px;
  width: 200px;
  height: 100vh;
  transform: translateX(10px);
  transition: transform 0.3s ease, left 0.3s ease;
  z-index: 1;
}

.sidebar.visible {
  left: 0;
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.sidebar ul li {
  margin: 20px 0;
  font-family: 'Arimo', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.sidebar ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.sidebar ul li a.active {
  background-color: #E9CFEC;
  font-weight: bold;
  transform: scale(1.05);
}

.sidebar ul li a:hover {
  font-weight: bold;
  color: #000000;
  transform: scale(1.05);
}

.sidebar ul li a:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  object-fit: contain;
}