@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Pattaya&display=swap');

.top-banner {
    background-color: #9B5DE5;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start; /* Aligns items to the top */
    justify-content: flex-start; /* Aligns items to the left */
    position: fixed; /* Fixes the banner at the top of the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the banner spans the full width of the viewport */
    height: auto; /* Adjusts height based on content, or set to a fixed value */
    z-index: 2; /* Keeps it above other content */
  }
  
  .top-banner h2 {
    margin: 0;
    margin-top: 4px;
    margin-left: 10px; /* Adds a small gap between the menu icon and the title */
    font-family: 'Pattaya', sans-serif; /* Example font change */
    font-size: 24px; /* Example font size */
    font-weight: normal; /* Example font weight */
  }
  
  .menu-icon {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    position: absolute; /* Position the element relative to its nearest positioned ancestor */
    top: 10px; /* Adjust this value to position the element further from the top */
    right: 50px; /* Adjust this value to position the element further from the right */
  }
  
  .logout-button {
    background-color: #E0BBE4;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Arimo', sans-serif;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Adds space between the logout button and the profile icon */
    margin-top: -5px;
  }
  
  .logout-button:hover {
    background-color: #E9CFEC;
  }
  
  .profile-icon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }