@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Pattaya&display=swap');

.wardrobe-container {
  display: flex;
  height: 100vh;
  background-color: #F4F4F9;
}

.wardrobe-sidebar {
  width: 150px; 
  background-color: #c3aafe;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: -8px;
  position: fixed;
  height: 100vh; /* Adjust for banner height */
}

.wardrobe-sidebar button {
  margin-top: 15px;
  background: none;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
}

.wardrobe-sidebar button.active {
  background-color: #E9CFEC;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Arimo', sans-serif;
}

.wardrobe-sidebar button:hover {
  font-weight: bold;
  color: #000000;
  font-family: 'Arimo', sans-serif;
}

.wardrobe-display {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.wardrobe-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-left: 200px;
}

.wardrobe-item {
  width: 150px;
  height: 200px;
  background-color: #DADADA;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
